@font-face {
	font-family: 'Poppins';
	src: url('poppins-regular.woff2') format('woff2'),
		 url('poppins-regular.woff') format('woff'),
		 url('poppins-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	max-width: 650px;
	margin: 40px auto;
	padding: 0 10px;
	line-height: 1.5em;
	font-family: "Poppins", BlinkMacSystemFont,
                 "Segoe UI", "Roboto", "Oxygen",
                 "Ubuntu", "Cantarell", "Fira Sans",
                 "Droid Sans", "Helvetica Neue", sans-serif;
}

pre > code {
	padding: 0;
}
pre {
	padding: 10px;
	overflow-x: scroll;
}
code {
	line-height: normal;
	padding: 0.33em;
	font-family: "Courier New",Courier,monospace;
	font-size: .85rem;
}
span .caption {
	font-style: italic;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

h1, h2, h3, h4 {
}

#entry-title {
    padding: 0;
}
@media (prefers-color-scheme: dark) {
	body {
		color: #f8f9fa;
		background: #212529;
	}
	a:link {
		color: #5bf;
	}
	a:visited {
		color: #ccf;
	}
	blockquote {
		background-color: #1e1e1e;
	}
	pre, code {
		background-color: black;
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: #212529;
		background: #f8f9fa;
	}
	blockquote {
		background-color: #deddda;
	}
	pre, code {
		color: #f6f5f4;
		background-color: #241f31;
	}
}
ul {
	  line-height: 1.75rem;
}
ul .post-info {
	line-height: 1.50rem;
}

#menu li {
        display: inline;
        padding: 14px 16px 14px 0;
}
#menu ul {
	padding: 0;
}
#post-list {
	list-style-type: none;
	padding: 0;
}

@media only screen and (min-width: 768px) {
	blockquote {
		margin: 5px 15px 5px 15px;
		padding: 5px 15px 5px 15px;
	}
}

blockquote {
	margin: 5px 0px 5px 0px;
	padding: 5px 15px 5px 15px;
}
