@font-face {
	font-family: 'Poppins';
	src: url('https://fonts.cdnfonts.com/s/16009/Poppins-Regular.woff2') format('woff2'),
		 url('poppins-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Mono';
	src: url('https://github.com/mozilla/Fira/raw/refs/heads/master/woff2/FiraMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

body {
	max-width: 450px;
	margin: 0 auto 0.5rem auto;
	padding: 0 10px;
	line-height: 1.5em;
	font-family: "Poppins", BlinkMacSystemFont,
                 "Segoe UI", "Roboto", "Oxygen",
                 "Ubuntu", "Cantarell", "Fira Sans",
                 "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: medium;
}

pre > code {
	padding: 0;
}

pre {
	padding: 10px;
	overflow-x: scroll;
}

code {
	line-height: normal;
	padding: 0.33em;
	font-family: "Fira Mono", "Courier New",Courier,monospace;
	font-size: small;
}

span .caption {
	font-style: italic;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1, h2, h3, h4 {
}

h2 {
	font-size: large;
}

h2.entry-title {
    padding: 0;
	margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #f8f9fa;
		background: #212529;
	}
	a:link {
		color: #5bf;
	}
	a:visited {
		color: #ccf;
	}
	.time-container {
		color: #808080;
	}
	time .modified {
		color: #808080;
	}
	blockquote {
		background-color: #1e1e1e;
	}
	pre, code {
		background-color: black;
	}
	#menu {
		background: #212529;
	}
}

@media (prefers-color-scheme: light) {
	body {
		color: #212529;
		background: #f8f9fa;
	}
	blockquote {
		background-color: #deddda;
	}
	.time-container {
		color: #36393e;
	}
	time .modified {
		color: #36393e;
	}
	pre, code {
		color: #f6f5f4;
		background-color: #241f31;
	}
	#menu {
		background: #f8f9fa;
	}
}

ul .post-info {
	line-height: 1.50rem;
	margin-bottom: 1rem;
}

.post-info {
	display: flex;
	gap: 0.5rem;
}

#hero {
	width: 100%;
}

#hero-about {
	width: 30%;
}

#menu {
	position: sticky;
	top: 0;
	padding: 3px 0 3px 0;
}

#menu li {
        display: inline;
        padding: 14px 16px 14px 0;
}

#menu ul {
	padding: 0;
}

#post-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media only screen and (min-width: 768px) {
	blockquote {
		margin: 5px 15px 5px 15px;
		padding: 5px 15px 5px 15px;
	}
}

blockquote {
	margin: 5px 0px 5px 0px;
	padding: 5px 15px 5px 15px;
}

.grid {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.time-container {
	font-size: small;
}

#pelican-info {
	font-size: xx-small;
}

address.vcard.author {
	font-size: small;
}